@model model.entity.Usuario
@{
    ViewBag.Title = "Create";
}

<h1>Vista de registro de Usuarios</h1>
@using (Html.BeginForm())
{
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Password, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TipoUsuario, htmlAttributes: new { @class = "control-kabel col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.TipoUsuario, new { htmlAttrbutes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-actions col-md-offset-2">
        <input class="btn btn-primary" type="submit" name="btnGuardar" value="Guardar"/>
        @Html.ActionLink("Regresar al Listado", "Index")
    </div>
</div>
}