@model List<model.entity.CuentaObjetivo>
@{
    ViewBag.Title = "Inicio";
}


 
@Html.Partial("~/Views/Shared/NavBar.cshtml")

<div class="container-fluid">
    <h3>Cuentas Objetivo </h3>
        <div>
            <a class="btn btn-primary" href="~/CuentaObjetivo/Create">Agregar Nueva Cuenta Objetivo</a>
        </div>
        <table class="table">
            <tr class="btn-primary">
                <th>Numero de Cuenta</th>
                <th>Objetivo</th>
                <th>Saldo</th>
                <th>Interés acumulado</th>

                <th colspan="6"></th>
            </tr>

            @foreach (var objetoCuentaObjetivo in Model)
            {

        <tr>
            <td>@objetoCuentaObjetivo.NumeroCuenta</td>
            <td>@objetoCuentaObjetivo.Objetivo</td>
            <td>@objetoCuentaObjetivo.Saldo</td>
            <td>@objetoCuentaObjetivo.InteresAcumulado</td>


            <!--  PENDEINTE EL VER  -->
            <td><a class="btn btn-success" href="~/CuentaObjetivo/find/@objetoCuentaObjetivo.IdCuentaObjetivo">Ver</a></td>
            <td><a class="btn btn-primary" href="~/CuentaObjetivo/update/@objetoCuentaObjetivo.IdCuentaObjetivo">Actualizar</a></td>
            <td><a class="btn btn-danger" href="~/CuentaObjetivo/delete/@objetoCuentaObjetivo.IdCuentaObjetivo">Eliminar</a></td>
            <td><a class="btn btn-success" href="~/MovimientosCuentaObjetivo/MovimientosCuentaObjetivo/@objetoCuentaObjetivo.IdCuentaObjetivo">Movimientos Co</a></td>
            <td><a class="btn btn-success" href="~/MovimientosCuentaObjetivo/MovimientosCuentaObjetivoInteres/@objetoCuentaObjetivo.IdCuentaObjetivo">Movimientos Co Interés</a></td>
            <td>@*<a class="btn btn-outline-primary" href="~/Menu/MenuNormal/@objetoCuentaObjetivo.IdCuentaAhorro">Regresar</a>*@</td>

        </tr>
            }


        </table>

</div>


