@model List<model.entity.Movimiento>

@{
    ViewBag.Title = "Inicio";
}
<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>

@Html.Partial("~/Views/Shared/NavBar.cshtml")
<h3>Movimientos Estados de cuenta</h3>
<div class="container-fluid">
    <table class="table">
        <tr class="btn-primary">
            <th>Monto</th>
            <th>Fecha</th>
            <th>Descripción</th>
            @*<th>Nuevo Saldo</th>*@
            <th>Tipo Movimiento</th>
            <th>Tipo</th>
            <th>Saldo final</th>

        </tr>
        @foreach (var objetoMovimiento in Model)
        {
    <tr>
        <td>@objetoMovimiento.Monto</td>
        <td>@objetoMovimiento.Fecha</td>
        <td>@objetoMovimiento.Descripcion</td>
        @*<td>@objetoMovimiento.NuevoSaldo</td>*@
        <td>@objetoMovimiento.TipoMovimiento</td>
        <td>@objetoMovimiento.Tipo</td>
        <td><a class="btn btn-outline-primary" href="~/EstadosCuenta/Inicio/@objetoMovimiento.IdCuentaAhorro">Regresar</a></td>

    </tr>
            
        }
    </table>
    
</div> 