@model List<model.entity.Beneficiario>
@{
    ViewBag.Title = "Inicio";
}



@Html.Partial("~/Views/Shared/NavBar.cshtml")

<div class="container-fluid">
    <h3>Beneficiarios de la cuenta </h3>
    <form action="~/Beneficiario/Regresar" method="post">
        <div>
            <a class="btn btn-primary" href="~/Beneficiario/create">Agregar nuevo beneficiario</a>
        </div>
        <table class="table">
            <tr class="btn-primary">
                @*<th>Indice</th>*@
                <th>Nombre del Beneficiario</th>
                <th>Tipo Parentezco</th>
                <th>Cuenta</th>
                <th>Porcentaje</th>
                <th colspan="3"></th>
            </tr>

            @foreach (var objetoBeneficiario in Model)
            {

                <tr>
                    <!--<td>-->@*@objetoBeneficiario.IdBeneficiario*@<!--</td>-->
                    @*<td>@objetoBeneficiario.IdCuenta</td>*@
                    <td>@objetoBeneficiario.Nombre</td>
                    <td>@objetoBeneficiario.Parentezco</td>
                    <td>@objetoBeneficiario.NumeroCuenta</td>
                    <td>@objetoBeneficiario.Porcentaje</td>
                    @*<td>@objetoBeneficiario.Activo</td>*@

                    <!--  PENDEINTE EL VER  -->
                    <td><a class="btn btn-success" href="~/Beneficiario/find/@objetoBeneficiario.IdBeneficiario">Ver</a></td>
                    <td><a class="btn btn-primary" href="~/Beneficiario/update/@objetoBeneficiario.IdBeneficiario">Actualizar</a></td>
                    <td><a class="btn btn-danger" href="~/Beneficiario/delete/@objetoBeneficiario.IdBeneficiario">Eliminar</a></td>

                </tr>
            }


        </table>
        @*<input type="submit" value="Regresar NO FUNCIONA">*@
    </form>
    <div>Ha usado el @Model.Sum(i => i.Porcentaje) % de 100 </div>
    <input type="button" value="Verificar" onclick="guardar();">
    <a class='btn btn-outline-primary' href='/Menu/MenuNormal/@(Model.Sum(j =>j.IdCuenta)/@Model.Count())'>Regresar</a>
    <script>

            function guardar() {
                var cantidad = @Model.Count();
                var indice = (@Model.Sum(j => j.IdCuenta)) / cantidad;
                var x = @Model.Sum(i => i.Porcentaje);
                if (x == "100" && cantidad < 4) {
                    toastr.success("Beneficiarios verificados con éxito", "Guardado con éxito");

                    //document.write("<a class='btn btn - primary' href='/Menu/MenuNormal/@*@(Model.Sum(j =>j.IdCuenta)/@Model.Count())*@'>Volver al menu de cuentas.</a>");
                }
                else {
                    toastr.warning("No cumple con el 100% en la distribución de porcentajes o hay más de 3 beneficiarios.", "Advertencia");
                }
        }

    </script>


</div>


