@model List<model.entity.CuentaAhorro>


@{
    ViewBag.Title = "MenuNormal";
}

@Html.Partial("~/Views/Shared/NavBar.cshtml")



<div class="container-fluid">
    <p>@ViewBag.ErrorMessage</p>
    <h3>Cuentas disponibles</h3>

    <form action="~/Movimiento/BuscarCompra" method="post">
        <div>
            <label for="say">Ingrese la descripción a buscar</label>
            <input name="say" id="say" value="" required />
            <label for="say">Ingrese la categoría</label>
            <input name="categoria" id="categoria" value="Compra" required />
            @foreach (var objetoCuentaAhorro in Model)
            {

                <input name="nombreUsuario" id="nombreUsuario" value=@objetoCuentaAhorro.NombreUsuarioPA required disabled='disabled' />
                <input name="idUsuario" id="idUsuario" value=@objetoCuentaAhorro.IdUsuarioPA required style="display: none">
                break;
            }


        </div>

        <div>
            <button>Buscar compras</button>
        </div>
    </form>

    <table class="table">
        <tr class="btn-primary">
            <th>ID</th>
            <th>Tipo de cuenta</th>
            <th>Usuario</th>
            <th>Numero de cuenta</th>
            <th>Saldo</th>
            <th>Fecha creación</th>
            <th colspan="3"> Operaciones</th>
        </tr>
        @foreach (var objetoCuentaAhorro in Model)
        {
            <tr>
                <td>@objetoCuentaAhorro.IdCuentaAhorro  </td>
                <td>@objetoCuentaAhorro.NombreTipoCuenta</td>
                <td>@objetoCuentaAhorro.NombreUsuarioPA</td>
                <td>@objetoCuentaAhorro.NumeroCuenta</td>
                <td>@objetoCuentaAhorro.Saldo</td>
                <td>@objetoCuentaAhorro.FechaCreacion</td>

                <td><a class="btn btn-danger" href="~/Beneficiario/Inicio/@objetoCuentaAhorro.IdCuentaAhorro">Beneficiarios</a></td>






                <td><a class="btn btn-success" href="~/EstadosCuenta/Inicio/@objetoCuentaAhorro.IdCuentaAhorro">Estado de Cuenta</a></td>


                <td><a class="btn btn-success" href="~/CuentaObjetivo/Inicio/@objetoCuentaAhorro.IdCuentaAhorro">Cuenta Objetivo</a></td>


            </tr>
        }
    </table>

    <a class="btn btn-outline-primary" href="~/Menu/Inicio">Salir</a>

</div>
