@model List<model.entity.CuentaAhorro>

@{
    ViewBag.Title = "MenuNormal";
}

@Html.Partial("~/Views/Shared/NavBar.cshtml")



<div class="container-fluid">

    <h3>Cuentas disponibles</h3>
    <table class="table">
        <tr class="btn-primary">

            <th>Tipo de cuenta</th>
            <th>Usuario</th>
            <th>Numero de cuenta</th>
            <th>Saldo</th>
            <th>Fecha creación</th>
            <th colspan="3"> Operaciones</th>
        </tr>
        @foreach (var objetoCuentaAhorro in Model)
        {
            <tr>

                <td>@objetoCuentaAhorro.NombreTipoCuenta</td>
                <td>@objetoCuentaAhorro.NombreUsuarioPA</td>
                <td>@objetoCuentaAhorro.NumeroCuenta</td>
                <td>@objetoCuentaAhorro.Saldo</td>
                <td>@objetoCuentaAhorro.FechaCreacion</td>
                <td><a class="btn btn-danger" href="~/Beneficiario/Inicio/@objetoCuentaAhorro.IdCuentaAhorro">Beneficiarios</a></td>
                <td><a class="btn btn-success" href="~/EstadosCuenta/Inicio/@objetoCuentaAhorro.IdCuentaAhorro">Estado de Cuenta</a></td>

            </tr>
        }
    </table>
    <a class="btn btn-outline-primary" href="~/Menu/Inicio">Salir</a>
   
</div>
